body {
    background-image: url("../images/backGround3.jpg");
    width: 100%;
}

.timer {
    text-align: center;
}

.opponentWindow {
    background: black;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.fightDisplay {
    background: black;
    text-align: center;
    color: #fff;
    font-weight: bold;
    height: 50px;
}

.cardChoice {
    height: 200px;
    border: .5px solid white;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
}

.cardChoice:hover {
    border: 5px solid #f1c40f;
}

.optionRow {
    margin-top: 150px;
}

.leftHand {
    margin-top: 150px;
    width: 75%;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
}

.rightHand {
    margin-top: 150px;
    width: 75%;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
}

.jumbotron {
    text-align: center;
    background: rgba(0,0,0,0.0);
    text-shadow: 0 0 8px white, 0 0 8px black;
    color: black;
    font-weight: bold;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Heebo', sans-serif;
    font-family: 'ZCOOL XiaoWei', serif;
    /* font-family: 'Source Code Pro', monospace; */
    margin: 0px;
    padding: 0px;
}

.playerButton {
    margin-top: 100px;
}

.opponentButton {
    margin-top: 100px;
    margin-left: auto;
    float: right;
}


#wrapper {
    margin-top: 20px;
}

#myModal {
    /* some styles to position the modal at the center of the page */
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    line-height: 200px;
    height: 200px;
    margin-left: -150px;
    margin-top: -100px;
    background-color: #f1c40f;
    text-align: center;
    border-radius: 5px;
  
    /* needed styles for the overlay */
    z-index: 10; /* keep on top of other elements on the page */
    box-shadow: 0 0 0 9999px rgba(0,0,0,0.5);
}
